footer {
    background-color: black;
    margin: 0 auto;
    min-height: 100px;
    overflow: hidden;
}

footer h4, h5, h6{
  color: white;
}
footer p {
    color: #fdf4ff;
}
.contact p {
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
 footer p, h6 {
     padding-left: 15px;
     padding-right: 15px;
 }
footer .contact p, h5 {
    padding-left: 15px;
    padding-right: 15px;
}

}