body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(255, 255, 255, 0.98);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand img {
    height: auto;
    width: 200px
}
.nav-link {
    color: #d4145a;
    font-size: 20px;
    border-right: 1px solid lightgray;
    padding-right: 50px;
}

.last-link {
    border: none;
    padding-right: 0;
}

.heroImage {
  background-image: url("https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

h3{
    color: #d4145a;
}



.album {
    background-color: rgba(255, 255, 255, 0.98);
}

.service-box {
  max-width: 400px;
  margin: 20px auto 0;
  text-align: center;
}
.categIcon {
    font-size: 45px;
}

.pointer {
    cursor: pointer;
}
.main-display {
    background-color: rgba(255, 255, 255, 0.98);
    margin-top: 10px;
}
.album {
    width: 95vw;
    margin: auto;
}

.main-display .row{
    padding-top: 5px;
}


.checkbox-container li {
    align-items: baseline;
}
.checkbox-container li i {
    margin-right: 5px;
}

.checkbox {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}
.checkbox i{
  font-size: 45px;
  color: #00c00b;
}

.checkbox p{
  font-size: 12px;
}


.how-to-give-list {
  list-style: none;
}
.how-to-give-list li:before{
  content: '✓ ';
}

.give-btn {
    width: auto;
}

.mission{
    white-space: pre-line;
}

.jumbotron {
    margin-bottom: 1rem;
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .card{
   height: auto;
    padding: 30px;
}

.login img {
    width: 200px;
    height: auto;
    margin: auto;
}

.org-list {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.org-list button{
    margin-right: 10px;
}

.article {
    background: url("https://images.pexels.com/photos/701337/pexels-photo-701337.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 10px;
    color: white;
    padding: 20px;
}
.article hr {
     border-color: #717171;
 }

.article-2 {
    background: url("https://images.pexels.com/photos/9374/lights-night-lens-blur.jpg");
    background-position: center;
}

.article a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.category-title {
    padding: 0;
}
.category-title .text-center{
     color: white;
 }
.category-title-animals {
    background: url('https://images.pexels.com/photos/975771/pexels-photo-975771.jpeg?auto=compress&cs=tinysrgb&h=350');
}

.category-title-people {
    background: url('https://images.pexels.com/photos/917377/pexels-photo-917377.jpeg?auto=compress&cs=tinysrgb&h=350');
}
.category-title-sickness{
    background: url("https://images.pexels.com/photos/734541/pexels-photo-734541.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.category-title-violence {
    background: url("https://images.pexels.com/photos/33582/sunrise-phu-quoc-island-ocean.jpg?auto=compress&cs=tinysrgb&h=350");
    background-repeat: round;
}
.category-title-culture {
    background: url('https://images.pexels.com/photos/976866/pexels-photo-976866.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-size: cover;
}

.filter {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    padding: 15px;
}